/mvnw text eol=lf
*.cmd text eol=crlf

# Ignorar librerías externas y recursos que no son parte del código Java
src/main/resources/lib/** linguist-vendored
src/main/resources/lib/ffmpeg/** linguist-vendored
src/main/resources/lib/ffmpeg/doc/** linguist-vendored